body {
    margin: 0px;
    padding: 0px;
    display: flex;

}

.navbar {
    height: 75px;
    width: 100%;
    background-color: rgb(121, 240, 173);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product-name-by-user {
    outline: none;
    border: none;
    height: 31px;
    width: 211px;
    border-radius: 15px;
    padding-left: 9px;
    font-size: 15px;
}

#check {
    cursor: pointer;
    border: none;
    height: 33px;
    width: 111px;
    margin: 11px;
    margin-right: 59px;
    border-radius: 12px;
    font-size: 17px;
    background-color: white;
}

#logo {
    height: 59px;
    width: 59px;
    margin-left: 12px;
    cursor: pointer;
}

.side-bar {
    background-color: rgb(238, 236, 236);
    height: 100vh;
    position: fixed;
}

.side-bar i {
    padding: 10px 11px;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.poppup {
    display: none;
    height: 619px;
    width: 599px;
    position: fixed;
    background-color: white;
    border-radius: 23px;
    box-shadow: 5px 5px 12px black;
    margin: 0px auto;
    margin-top: 19px;
    top: 9%;
    left: 32%;
}

.hide-bar {
    display: none;
    width: 221px;
    height: 100vh;
    margin: 0 auto;
}

#close-cart-btn {
    text-align: right;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.poppup-cart {
    display: block;
    text-align: center;
    font-size: 18px;
    height: 569px;
    width: 579px;
    margin: 0 auto;
}

.poppup-cart b {
    font-size: 23px;
}

.poppup-image {
    height: 279px;
    width: 319px;
}

h5 {
    margin-left: 12px;
    margin-right: 12px;
}

.container {
    padding: 11px;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    margin: 73px 0px;
}

.cart {
    height: 451px;
    width: 325px;
}

.main-div {
    height: 511px;
    width: 325px;
    margin: 15px;
    box-shadow: 3px 3px 12px black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 12px;
    padding-bottom: 19px;
}

.product-img {
    margin: 0 29px;
    height: 259px;
    width: 259px;
    padding-top: 12px;

}

.product-title {
    margin: 15px 17px;
}

.product-price {
    margin: 15px 15px;
    font-size: 19px;
}

.product-rating {
    margin: 15px 15px;
    font-size: 20px;
}

label {
    font-size: 21px;
}

h2 {
    font-size: 29px;
}

.addToCartBtn {
    height: 39px;
    width: 99px;
    margin-left: 45px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
    border: none;
    background-color: rgb(244, 187, 81);
}

.buyNowBtn {
    height: 39px;
    width: 99px;
    margin-left: 27px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
    border: none;
    background-color: rgb(115, 250, 115);
}

.btn-div {
    display: flex;
    justify-content: space-between;
    padding-right: 39px;
}

.search-container {
    display: flex;
    align-items: center;
}

.fa-cart-shopping{
    color: white;
    font-size: 39px;
    margin-right: 12px;
    cursor: pointer;
}

.fa-cart-shopping:hover {
    font-size: 40.5px;
    transition: 500ms;
}

#cart-div {
    height: 50vh;
    width: 445px;
    position:fixed;
    padding: 29px 15px;
    margin-top: 75px;
    margin-right: 49px;
    color: white;
    top: 0%;
    right: 31px;
    overflow: scroll;
    background-color: aqua;
}

.small-cart{
    height: 123px;
    width: 425px;
    margin: 12px 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: black;
}

.small-cart-img{
    height: 89px;
    width: 99px;
}

.small-cart-title{
    margin-left: 5px;
    width: 115px;
}
.small-cart-rating{
    font-size: 17px;
    text-align: center;
    margin-left: 0px;
}
.small-cartbuyNowBtn{
    margin: 5px 17px ;
}
.removeFromCartBtn{
    height: 39px;
    width: 109px;
    margin: 9px 13px;
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 25, 25);
    cursor: pointer;
}
.remove-buy-btn-div{
    display: inline-block;
    height: 111px;
    width: 131px;
}