body{
    margin: 0px;
    padding: 0px;
    display: flex;

}
.side-bar{
    background-color: rgb(238, 236, 236);
    height: 100vh;
    position: fixed;
}
.side-bar i {
    padding: 10px 11px;
    font-size: 25px;
    cursor: pointer;
}
.poppup{
    display: none;
    height: 619px;
    width: 599px;
    position: fixed;
    background-color: white;
    border-radius: 23px;
    box-shadow: 5px 5px 12px black;
    margin-top: 39px;
}
#close-cart-btn{
    text-align: right;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
.poppup-cart{
    display: block;
    text-align: center;
    font-size: 18px;
    height: 569px;
    width: 579px;
    margin: 0 auto;
}
.poppup-cart b {
    font-size: 23px;
}
.poppup-image {
    height: 279px ;
    width: 349px ;
}
.container{
    padding: 11px;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.cart{
    height: 459px;
    width: 319px;
    margin: 15px;
    box-shadow: 3px 3px 12px black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 12px;
}
.product-img{
    margin: 0 19px;
    height: 259px;
    width: 259px;
    padding-top: 12px;

}
.product-title{
    margin: 15px 17px;
}
.product-price{
    margin: 15px 15px;
font-size: 19px;
}
.product-rating{
    margin: 15px 15px;
font-size: 20px;
}
